<!DOCTYPE html>
<html lang="en" ng-app="MidburnCampIndexApp" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="content/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <title>Midburn 2017 - Theme Camps Index</title>
</head>

<body>
    <div class="container" ng-controller="CampListController">
        <!-- Headline intro -->
        <div class="row">
            <div class="panel panel-heading">
                Midburn 2017 - Theme Camps Index
                <p class="panel-body">
                    This page lists registered theme camps for Midburn 2016. The names and descriptions where supplied by the camps organizers and are under their responsibility.
                </p>
            </div>
            <div class="col-xs-12 camp__search">
                <input id="search_camp" ng-model="searchCamp" type="text" name="search" value="" placeholder="Serach a camp">
            </div>
            <div class="col-xs-12 camp__wrapper" ng-repeat="camp in camps | filter: searchCamp">
                <div class="camp__info camp__info--card">
                    <div class="camp__header col-xs-4">
                        <h2>{{ camp.name_en }}</h2>
                        <div class="camp__badges">
                            <span ng-show="camp.status" class="camp__badges--status">{{camp.status}}</span>
                            <span ng-show="camp.accept_families" class="camp__badges--families">{{camp.accept_families}}</span>
                        </div>
                        <div class="camp__links">
                            <a href="{{ camp.facebook_page_url }}" target="_blank">Facebook Page</a>
                        </div>
                    </div>
                    <div class="camp__description col-xs-8">
                        <p>{{ camp.desc_en }}</p>
                        <a href="#" ng-click="_fetchContactPerson(1)" data-toggle="collapse" data-target="#camp__contactinfo--{{ camp.id }}" class="btn btn-default">Contact</a>
                        <div id="camp__contactinfo--{{ camp.id }}" class="camp__contactinfo collapse">
                            <ul>
                                <li>Name: <b>{{ fullName }}</b></li>
                                <li>Email: <b>{{ email }}</b></li>
                                <li>Phone: <b>{{ phone }}</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
