/* FONTS */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Alef-Bold';
    src: url('fonts/Alef-Bold.eot');
    src: url('fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Bold.woff') format('woff'), url('fonts/Alef-Bold.ttf') format('truetype'), url('fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-Regular.eot');
    src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Regular.woff') format('woff'), url('fonts/Alef-Regular.ttf') format('truetype'), url('fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END FONTS */


/* General Content styles such as links, body text, or headings */

html {
    min-height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Alef', 'Lato', sans-serif !important;
}

.camp__wrapper {
  margin-bottom: 15px;
}

.camp__info {
    padding: 0.2em 1em;
    min-height: 150px;
    overflow: hidden;
}

.camp__info--card {
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(50, 50, 93, .03), 0 5px 5px rgba(0, 0, 0, .02);
}

.camp__info .camp__header .camp__badges span {
  background-color: #BBDEFB;
  color: #FFF;
  border-radius: 2px;
  min-height: 70px;
  padding: 3px 5px;
}

.camp__info .camp__header .camp__badges .camp__badges--status {
  background-color: #D50000;
}

.camp__info .camp__description {
    padding: 8px;
}

.camp__info .camp__contactinfo {
    padding: 12px 0 0;
}

.camp__info .camp__contactinfo ul {
    list-style-type: none;
    padding-left: 0;
}

h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #6772e5;
    margin: 15px 0;
}

::selection {
    background: #d01;
    color: #000;
}

::-moz-selection {
    background: #d01;
    /* Firefox */
    color: #000;
}
