<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ labels.title }}</title>
    <!-- Assets -->
    <link rel="stylesheet" href="content/fa.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="content/style.css">
    <link rel="stylesheet" href="content/loading-spinner.css" />
    <link href="ribbons.css" rel="stylesheet" type="text/css" />
</head>

<body>
{% if lang=='en' %}
<div class="ribbon left black">
  <a href="https://github.com/Midburn/camps_index">Fork me on GitHub</a>
</div>
{% else %}
<div class="ribbon right black">
  <a href="https://github.com/Midburn/camps_index">Fork me on GitHub</a>
</div>
{% endif %}
    <div class="container">
    <div class="row">
        {% if lang=='en' %}
            <h4 style="margin-top:2.5em; margin-left:2.5em;">{{ labels.title }}</h4>
        {% else %}
            <h3 style="margin-top:2.5em; margin-right:2.5em;" dir="rtl">{{ labels.title }}</h3>
        {% endif %}

    </div>
    <div class="row"><br>
            {% for camp in camps %}
            <div class="col-xs-12 camp__wrapper" data-aos="fade" data-aos-once="true">
                <div class="camp__info camp__info--card">
                    <div class="camp__header col-xs-12 col-sm-4">
                        <h2 id="{{ camp.id }}">{{ camp.name }}</h2>
                        <div class="camp__badges">
                            {% if camp.status == 'open' %}<span class="bg-info">{{ labels.members }}</span>{%  endif %}
                        </div>
                    </div>

                    <div class="camp__description col-xs-12 col-sm-4">
                        {% if camp.status == 'open' and camp.leader_name and camp.leader_email %}
                        <h3>{{ labels.contact_details }}</h3>
                        <dl>
                            {% if camp.leader_name %}
                            <dt>{{ labels.contact_name }}</dt>
                            <dd>{{ camp.leader_name }}</dd>
                            {% endif %}
                            {% if camp.leader_email %}
                            <dt>{{ labels.contact_email }}</dt>
                            <dd>{{ camp.leader_email }}</dd>
                            {% endif %}
                        </dl>
                        {% endif %}
                    </div>

                    {% if camp.description %}
                    <div class="camp__description col-xs-12 col-sm-4">
                        <h3>{{ labels.description }}</h3>
                        <p>{{ camp.description }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>


